

*::before,
*::after {
  box-sizing: border-box
}
body {
  background-color: #aaabf6;
}
html {
  font-family: sans-serif;
  font-size: 1rem;
  color: #444;
}

#root {
  max-width: 450px;
  margin: 2rem auto;
  padding: 0 1rem;
}



[type="text"],
button {
  display: inline-block;
  -webkit-appearance: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  cursor: pointer;
  background: #b7c9db;
  color: white;
  border: 2px solid #007bff;
  margin: 0 .5rem;
}

[type="text"] {
  width: 100%;
}

[type="text"]:active,
[type="text"]:focus {
  outline: 0;
  border: 2px solid #007bff;
}

[type="password"],
button {
  display: inline-block;
  -webkit-appearance: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: 2px solid rgb(81, 40, 233);
  border-radius: 4px;
}
[type="password"] {
  width: 100%;
}

[type="password"]:active,
[type="password"]:focus {
  outline: 0;
  border: 2px solid #c1d5eb;
}


[type="submit"],
button {
  display: inline-block;
  -webkit-appearance: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: 2px solid rgb(97, 5, 116);
  color: blueviolet;
  border-radius: 4px;
}
[type="submit"] {
  width: 100%;
}


[type="checkbox"] {
  margin-right: 1rem;
  font-size: 2rem;
}

h1 {
  color: #222;
}

ul {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #f4f4f4;
}
.videos {
  background: rgba(179, 215, 255, 0.52);
}

li span {
  display: inline-block;
  padding: .2rem;
  width: 250px;
 
  border: 2px solid transparent;
}

li span:hover {
  background: #77b5f0;
}

li span:focus {
  outline: 0;
  border: 2px solid #007bff;
  background: rgba(179, 207, 255, 0.52)
}

#login {
position: absolute;
text-decoration: none;
top: 20%;
left: 30%;
font-size-adjust: 0.68;
}
a:hover{
     background-color :rgba(179, 215, 255, 0.52);
     }

form {
position: absolute;
top: 30%;
left: 10%;
margin-bottom: 2rem;
border: 2px solid #ccc;
border-radius: 4px;
    }
form fieldset {
  border: none !important;
 }

.relative {
  position: relative;
}

.absolute{
  position: absolute;
  display: block;
}
